@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    width: 100%;
    color: whitesmoke;
    background-color: black;
    height: 70px;
}

.navbar ul li {
    list-style: none;
    margin-left: 20px;
}

.navbar ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
}

.navbar ul li a:hover {
    color: grey;
}

.about .container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.about .container h1 {
    font-weight: bold;
    text-align: center;
}

.about .container table {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.layanan {
    max-width: 100%;
    min-height: 750px;
    background-color: #e9ecef;
}

.layanan h1 {
    font-weight: bold;
    text-align: center;
}

.registrasi {
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
    padding: 30px;

}

.registrasi h1 {
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    padding-bottom: 20px;
}

.registrasi .form {
    width: 100%;
}

.registrasi .form .input_field {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.registrasi .form .input_field label {
    width: 250px;
}

.registrasi .form .input_field #radioLab {
    padding-left: 20px;
    padding-top: 5px;
}

.registrasi .form .input_field .input,
.registrasi .form .input_field .select {
    position: relative;
    width: 100%;
}

.registrasi .form .input_field textarea {
    height: 100px;
    width: 100%;
}

.registrasi .form .input_field .select select {
    width: 100%;
    height: 100%;
}